.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#box1{
    background: green;
    position: relative;
    top: 75px;
    z-index: 1;
}
#box2{
    z-index: 2;
    position: relative;
    top: 0px;
    background: red;
    /* display:none; */
    /* visibility: collapse; */
}
#box3{
    background: blue;
}
#box4{
    background: yellow;
}
#box5{
    background: orange;
}